@import url(./varaibles.css);

.about_all-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about_all-skills h2{
    display: flex;
    flex-direction: column;
}

.about_skill h3, .about_skill ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_skill ul li{
    list-style: none;
    color: var(--primary-color);
}