@import url(./varaibles.css);

.about_section {
    padding-top: 5rem;
}

.about_description {
    text-align: center;
    margin-bottom: 6rem;
}

.about_description p{
    color: var(--primary-color);
}

/* Skills list */
.about_skills h2 {
    margin-left: 40px;
    text-align: center;
    font-style: italic;
    font-size: 1.25rem;
}

.about_skill {
    margin-bottom: 3rem;
}

.about_skill h3, .about_skill ul li {
    display: flex;
    justify-content: center;
}

.about_skill h3 {
    margin-left: 40px;
}

.about_skill ul {
    display: flex;
    flex-direction: column;
}

.about_skill ul li {
    list-style: none;
    color: var(--primary-color);
}