img {
    width: 15rem;
}

.image_spacing {
    margin-bottom: 5rem;
}

/****Tablet Styles****/
@media screen and (min-width: 600px) { 
    img {
        width: 30rem;
    }
}

/***Desktop Styles****/
@media screen and (min-width: 980px) { 
    img {
        width: 50rem;
    }
}