@import url(./varaibles.css);

h1 {
    color: var(--important-color);
}

p {
    color: var(--primary-color);
}

h4, h5, h6 {
    color: var(--ternary-color);
}

/******* Case Study Banner *******/
.case_study_section {
    padding: 2rem;
}

.case_study_section .project_intro {
    padding: 0;
}

.project_intro img{
    width: 100%;
    margin-top: 100px;
}

/********************** Project Details *********************/
.project_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--container-color);
    padding: 0 0.2rem;
}

.project_details h3 {
    text-align: center;
}

.methods_tools li, .practices li {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.methods_tools ul, .practices ul {
    padding: 0;
}

.methods_tools li, .practices li {
    color: var(--primary-color);
}

.case_study_section section {
    margin-bottom: 5em;
}

.case_study_section ul li, .case_study_section ol li {
    color: var(--primary-color);
}

/************* figure and figcap **************/
figure {
    text-align: center;
    margin: 0;
}

figcaption {
    color: var(--secondary-color);
    font-style: italic;
    margin-top: 1rem;
}

figcaption::before {
    content: '"';
}

figcaption::after {
    content: '"';
}

/***** iframe *****/
.iframe_center {
    text-align: center;
}

iframe {
    width: 90%;
}


/************* images **************/
.image_center {
    text-align: center;
}

img {
    width: 15rem;
}

.image_spacing {
    margin-bottom: 5rem;
}

.cs_hover img {
    transition: 0.2s ease-out;
}

.cs_hover img:hover {
    box-shadow: 0.5em 1em 20px var(--container-color);
    transform: scale(1.05);
}

/****Tablet Styles****/
@media screen and (min-width: 600px) { 
    img {
        width: 30rem;
    }

    .iframe {
        width: 100%;   
    }
}

/***Desktop Styles****/
@media screen and (min-width: 980px) { 
    img {
        width: 50rem;
    }
}