@import url(./varaibles.css);

.contact_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
}

.contact_section a {
    border-style: none;
    text-align: center;
    color: var(--background-color);
    background-color: var(--link-color);
    padding: 0.8em 0.6em;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    transition: 300ms linear;
    text-decoration: none;
}

.contact_section a:hover {
    background-color: var(--important-color);
}