@media screen and (min-width: 980px) {

    /******************* General Styles *********************/
    html body {
        display: grid;
        height: 100vh;
        font-size: 1.25rem;
    }

    main .about_section, main .project_section, main .contact_section {
        padding: 5rem;
    }

    /********* Banner ***************/
    .computer_sad img, .computer_happy img{
        width: 20rem;
    }

    /******** Navbar Styles ************/
    nav .logo {
        width: 2.75rem;
    }

    nav ul li {
        font-size: 1.25rem;
    }

    /****************** About Section *********************/
    .about_description {
        text-align: start;
    }

    /* Skills list */
    .about_all_skills {
        display: flex;
        justify-content: space-around;
    }

    /*********** Project Section ***********/
    .project_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 4rem;
        gap: 2rem;
    }

    /************ Project Image Styles *******/
    .project_image {
        grid-area: 0/1/2/0;
    }

    .project_image .desktop_img {
        width: 25rem;
    }
    
    .project_image .mobile_img {
        width: 15rem;
    }

    /******** Project Information Styles *********/

    .project_information {
        grid-area: 0/2/0/3;
        display: grid;
        text-align: start;
        grid-template-rows: repeat(3, 1fr);
    }

    .project_information h3 {
        font-size: 2em;
    }

    .project_information a {
        display: flex;
        justify-content: flex-end;
    }

    /************* Contact Section **********/
    main .contact_section a {
        padding: 1em 0.8em;
        font-size: 1.75em;
    }

    /********* Case Studies **********/
    .project_details {
        display: flex;
        flex-direction: row;
        padding: 2rem 0;
    }
    
    .project_date {
        display: flex;
        justify-content: center;
    }
    
    .project_details .project_list {
        display: flex;
    }

    .project_details .methods_tools, .project_details .practices {
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}