@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');
@import url(./varaibles.css);
@import url(./navbar.css);
@import url(./header.css);
@import url(./about.css);
@import url(./projects.css);
@import url(./contact.css);
@import url(./footer.css);
@import url(./desktop.css);

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    margin: 0;
}

header {
    z-index: 100;
}

main, footer {
    padding: 5rem 1rem;
    z-index: -1;
}

h2 {
    color: var(--important-color);
}

h3 {
    color: var(--secondary-color);
}

::selection {
    color: var(--background-color);
    background: var(--important-color);
}