@import url(./varaibles.css);

header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    background-color: var(--background-color);
    box-shadow: 15px 5px 20px var(--container-color);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    transition: 0.3s;
}

nav .logo {
    width: 1.75rem;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 0 0.5em;
    list-style-type: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 0.8rem;
}

nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.2s linear;
}

nav ul li a.active, nav ul li a:hover, nav ul li:hover{
    color: var(--important-color);
    text-decoration: underline;
}