@import url(./varaibles.css);

.project_section {
    padding-top: 5rem;
}

.project_container {
    padding: 1rem 0.5rem;
    background-color: var(--container-color);
    margin-bottom: 2rem;
    transition: 100ms linear;
}

.project_container:hover, .project_container:focus {
    background-color: var(--container-color-hover);
}

/* Project Image Styles */

.project_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_image .desktop_img {
    width: 20em;
}

.project_image .mobile_img {
    width: 10em;
}

/* Project Information Styles */

.project_information {
    text-align: center;
}

.project_information h3 {
    font-size: 1.5rem;
}

.project_information p{
    color: var(--primary-color);
}

.project_information small span {
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--darker-text-color);
    font-weight: 700;
    padding: 2px 5px;
    margin: 5px;
    opacity: 0.95;
}

.project_information a {
    display: block;
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--link-color);
    transition: 100ms linear;
    margin-top: 1.5rem;
}

.project_information a:hover {
    color: var(--important-color);
}

.project_information a .ri-github-line {
    font-size: 1.75rem;
}