:root {
    --primary-color: #dad8d8;
    --secondary-color: #569CD6;
    --ternary-color: #4782c7;
    --link-color: #9CDCF0;
    --background-color: #1A3549;
    --container-color: #16184269;
    --container-color-hover: #161842;
    --important-color: #F19F1B;
}